# General Node.js and Expo Ignored Files
node_modules/
.expo/
.expo-shared/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Build Artifacts
build/
dist/
web-build/
android/
ios/

# Metro Bundler
.cache/
*.metro-cache/
index.android.bundle
index.ios.bundle

# IDE-specific files
.vscode/
.idea/
*.iml

# Expo Customizations
expo-go.js
expo-go/

# Miscellaneous
*.swp
*.swo
*.bak

# Git-specific files
.git/